.adress-formular {
    width: 60vw;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.input-div {
    position: relative;
    gap: 10px;
}

.width-100-per {
    width: 100%;
}

.gap10 {
    gap: 10px;
}

.gap60 {
    gap: 60px;
}

.tables {
    position: absolute;
    background-color: white;
    z-index: 1;
    top: 21px;
    left: 37px;
    padding: 8px 8px;
    box-shadow: 1px 1px 5px 1px #d3d3d38c;
    border-radius: 3px
}

.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.number-input[type=number] {
    -moz-appearance: textfield;
    appearance: input;
}

.suggestion-td {
    cursor: pointer;
}

.suggestion-td:hover {
    background-color: lightgrey;
}

.d-none {
    display: none !important;
}